*{
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 20vh;
    background-color: bisque;
}

.img{
    width: 10%;
    height: 90%;
}

.nav{
    display: inline-block;
    float: right;
}