*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.main{
    margin: 2rem auto;
    width: 90%;
    height: 200vh;
    background: blue;
    position: relative;
}

.box1{
    width: 120px;
    height: 120px;
    background: rgb(84, 201, 21);
    /*position: static; Defaultna vrednost kod position static*/
    position: relative; /*ostavlja rezervisan prostor na kom se nalazio (tu se nece automatski naci ili pomeriti sled. element)
    -Dobijamo mogucnost pomeranja elementa sa svih strana u odnosu na parent element
    */
    top: 0px;
    left: 50%;
}

.box2{
    width: 120px;
    height: 120px;
    background: rgb(211, 171, 171);
    position: absolute; /*ne cuva  prostor na kom se nalazio (tu ce se  automatski naci sled. element )ispod na kom je position absolute
    -Parent element mora imati position razlicit od static kako bi pomeranje bilo relativno u odnosu na njega a ne na celku stranicu
    
    */
    top: 0px;
    right: 0px;
}

.box3{
    width: 120px;
    height: 120px;
    background: rgb(241, 70, 12);
    position: fixed;
    top: 50px;
    left: 0px;
    /*ne cuva  prostor na kom se nalazio (tu ce se  automatski naci sled. element )ispod na kom je position fixed*/
}

.box4{
    width: 120px;
    height: 120px;
    background: rgb(81, 79, 191);
    position: sticky; /*sticky cuva prostor na kome se nalazio, tu se nece nalaziti sled element
    dobijamo mogucnost pomeranja elemenata (sa svih strana ) u odnosu na  trenutno postavljeni element
    */
    left: 0;
    top: 40px;
    z-index: 10;
}

.box5{
    width: 120px;
    height: 120px;
    background: rgb(111, 228, 141);
    position: relative;
    z-index: 20;
}