*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Combo', cursive;
}

.main{
    width: 65%;
    height: 500px;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: nowrap;*/
}

/*order svojstvo je omoguceno u child kontejneru, ali je neophodno podesiti order za svaki child kontejner kako bi se primenio order na pravi nacin */

.box1{
    flex-basis: 150px;
    height: 150px;
    background-color: blue;
    /*order: 3;*/
}

.box2{
    flex-basis: 150px;
    height: 150px;
    background-color: rgb(177, 141, 136);
    /*order: 4;*/
}

.box3{
    flex-basis: 150px;
    height: 150px;
    background-color: yellow;
    overflow: auto;
    /*order: 1;*/
}

.box4{
    flex-basis: 150px;
    height: 150px;
    background-color: rgb(226, 87, 141);
    /*order: 2;*/
}




