*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Signika Negative', sans-serif;
    background-color:aliceblue
}

.dugme{
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

header{
    width: 100%;
    height: 15vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.naslov{
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    font-size: 20px;
    color: white;
}

.nav{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-self: center;

}
.nav ul{
    list-style-type: none;
    display: flex;
}
.nav ul li{
    padding-left: 2.5rem;
}

.nav li a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.dugme{
    margin-top: -10px;
    width: 150px;
    height: 2.5rem;
    border: none;
    border-radius: 25px;
}

.mainchild1{
    margin-top: ;
    margin: 10vh 10%;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box1{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    padding: 15px;
    position: relative;
    top: -198px;

}

.box2{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    position: relative;
    top: -150px;
    left: 50px;
    padding: 15px;
}

.box3{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    flex-direction: column;
    align-self: center;
    position: relative;
    top: 50px;
    left: -334px;
    padding: 15px;
}

.box4{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    flex-direction: column;
    align-self: center;
    position: relative;
    top: 95px;
    left: -284px;
    padding: 15px;
}

.box1 h3{
    margin-top: 15px;
}

.box2 h3{
    margin-top: 15px;
}

.box4 h3{
    margin-top: 15px;
}

.box3 h3{
    margin-top: 15px;
}

.mainchild1 img{
    margin-top: -75px;
    width: 45%;
}








/*https://preview.colorlib.com/theme/parason/img/home/xoffer.png.pagespeed.ic.zQ08Cd8pOt.webp*/