*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Combo', cursive;
}

.main{
    width: 75%;
    height: 550px;
    background-color: aqua;
    margin: auto;
    display: flex;  
}
/*felx-grow svojstvo zauzima celokupnu sirinu parent kontejnera 
    definisanmje sirine nekog child elementa bi zapravo predstavljalo sirinu tog elementa 
*/
.box1{
    flex-grow: 1;
    /*flex-basis: 150px;*/
    /*flex-shrink: 2;*/
    height: 150px;
    background-color: blue;
}

.box2{
    flex-grow: 1;
    /*flex-basis: 150px;*/
    /*flex-shrink: 1;*/
    height: 150px;
    background-color: rgb(177, 141, 136);
}

.box3{
    flex-grow: 1;
    /*flex-basis: 150px;*/
    /*flex-shrink: 1;*/
    height: 150px;
    background-color: rgb(39, 163, 32);
}
