*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Signika Negative', sans-serif;
    background-color:aliceblue
}

.dugme{
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

header{
    width: 100%;
    height: 15vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.naslov{
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    font-size: 20px;
    color: white;
}

.nav{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-self: center;

}
.nav ul{
    list-style-type: none;
    display: flex;
}
.nav ul li{
    padding-left: 2.5rem;
}

.nav li a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.dugme{
    margin-top: -10px;
    width: 150px;
    height: 2.5rem;
    border: none;
    border-radius: 25px;
}

.mainchild1{
    margin: 5rem auto;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box1{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    padding: 15px;
    position: relative;
    top: -198px;
    box-shadow: 1px 1px 3px;

}

.box2{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    position: relative;
    top: -150px;
    left: 50px;
    padding: 15px;
    box-shadow: 1px 1px 3px;
}

.box3{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    flex-direction: column;
    align-self: center;
    position: relative;
    top: 50px;
    left: -334px;
    padding: 15px;
    box-shadow: 1px 1px 3px;
}
.dugme:hover{
    cursor: pointer;

}
.box4{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:aqua;
    flex-direction: column;
    align-self: center;
    position: relative;
    top: 95px;
    left: -284px;
    padding: 15px;
    box-shadow: 1px 1px 3px;
}

.box1 h3{
    margin-top: 15px;
}

.box2 h3{
    margin-top: 15px;
}

.box4 h3{
    margin-top: 15px;
}

.box3 h3{
    margin-top: 15px;
}

.mainchild1 img{
    margin-top: -75px;
    width: 45%;
}

footer{
    display: fixed;
    width: 100%;
    height: 150px;
    background-color: purple;
}

.main1{
    height: 75px;
    width: 75px;
    background-color: yellow;
    border-radius: 250px;
}

.main2{
    height: 75px;
    width: 75px;
    float: right;
    background-color: red;
    border-radius: 250px;
}

footer:hover .main1{
    animation: left-to-right 2s ease-in-out forwards infinite alternate;
}


@keyframes left-to-right{
    0%{
        transform: translateX(0px);
    }
    100%{
        background-color: red;
        transform: translateX(1440px);
    }
}

footer:hover .main2{
    animation: right-to-left 2s ease-in-out forwards infinite alternate;
}

@keyframes right-to-left{
    0%{
        transform: translateX(0px);
    }
    100%{
        background-color: yellow;
        transform: translateX(-1440px);
    }
}

@media (min-width: 501px) and (max-width: 1024px){
    header{
        width: 100%;
        height: 10vh;
        background-color: blue;
        overflow: auto;
    }

    .naslov{
        justify-content: center;
        align-self: center;
        margin-left: 10% ;
        font-size: 15px;
        color: white;
    }

    .nav{
        display: flex;
        justify-content: center;
        align-self: center;
    
    }
    .nav ul{
        list-style-type: none;
        display: flex;
    }
    .nav ul li{
        padding-left: 0.5rem;
    }
    
    .nav li a{
        font-size: 12px;
        color: white;
        text-decoration: none;
        list-style-type: none;
    }

    .dugme{
        font-size: 10px;
        margin-top: -10px;
        width: 50px;
        height: 1.5rem;
        border: none;
        border-radius: 25px;
    }

    footer{
        position: relative;
        top: 250px;
        width: 100%;
        height: 10vh;
        background-color: purple;
    }
    
    .mainchild1{
        width: 80%;
        height: 80vh;
        flex-direction: column;
    }


    .box1{
        margin-top: 170px;
        font-size: 14px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        box-shadow: 1px 1px 3px;
        margin-left: -200px;
    
    }
    
    .box2{
        margin-top: -195px;
        font-size: 14px;
        margin-left: 150px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        box-shadow: 1px 1px 3px;
    }
    
    .box3{
        margin-top: -150px;
        margin-left: 467px;
        font-size: 14px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        align-self: center;
        box-shadow: 1px 1px 3px;
    }

    .box4{
        margin-top: -175px;
        margin-left: 820px;
        font-size: 14px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        padding: 15px;
        box-shadow: 1px 1px 3px;
    }

    .mainchild1 img{
        margin-top: 150px;
        height: 220px;
        width: 300px;
    }

    .main1{
        height: 5vh;
        width: 5vh;
        background-color: yellow;
        border-radius: 250px;
    }
    
    .main2{
        height: 5vh;
        width: 5vh;
        float: right;
        background-color: red;
        border-radius: 250px;
    }
}

@media (max-width: 500px){
    header{
        width: 100%;
        height: 10vh;
        background-color: blue;
        overflow: hidden;
        margin: auto;
    }

    .naslov{
        justify-content: center;
        align-self: center;
        margin-left: 10% ;
        font-size: 15px;
        color: white;
    }

    .nav{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-right: 10%;
    
    }
    .nav ul{
        list-style-type: none;
        display: flex;
    }
    .nav ul li{
        padding-left: 0.5rem;
    }
    
    .nav li a{
        font-size: 12px;
        color: white;
        text-decoration: none;
        list-style-type: none;
    }

    .dugme{
        font-size: 10px;
        margin-top: -10px;
        width: 50px;
        height: 1.5rem;
        border: none;
        border-radius: 25px;
    }

    footer{
        width: 100%;
        height: 10vh;
        background-color: purple;
        flex-direction: column;
        position: relative;
        top: 150px;
    }
    
    .mainchild1{
        width: 80%;
        height: 80vh;
        flex-direction: column;
    }


    .box1{
        margin-top: 60%;
        font-size: 12px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        box-shadow: 1px 1px 3px;
        z-index: 5;
    
    }
    
    .box2{
        margin-top: -30px;
        font-size: 12px;
        margin-left: -100px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        box-shadow: 1px 1px 3px;
    }
    
    .box3{
        margin-top: -180px;
        margin-left: 665px;
        font-size: 12px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        align-self: center;
        box-shadow: 1px 1px 3px;
    }

    .box4{
        margin-top: -25px;
        margin-left: 570px;
        font-size: 12px;
        text-align: center;
        width: 200px;
        height: 150px;
        background-color:aqua;
        padding: 15px;
        box-shadow: 1px 1px 3px;
    }

    .mainchild1 img{
        margin-top: 100px;
        width: 250px;
    }

    .main1{
        height: 5vh;
        width: 5vh;
        background-color: yellow;
        border-radius: 250px;
    }
    
    .main2{
        height: 5vh;
        width: 5vh;
        float: right;
        background-color: red;
        border-radius: 250px;
    }
}




