@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.beforeheader{
    width: 100%;
    height: 5vh;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00796b;
    color:#fff;
}

.header1{
    width: 50vw;
    margin-left: 5%;
}

.header2{
    margin-right: 7%;
    justify-content: space-evenly;
    align-self: center;
}

#icon1{
    padding-left: 35px;
}

#icon2{
    font-size: 16px;
    padding-left: 15px;
}

.header1 span{
    padding-left: 6px;
}

header{
    width: 100%;
    height: 10vh;
     background: #008474;
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    
    /* box-shadow: 0px 2px 20px rgb(0 0 0 / 10%); */
}
.dropbtn {
   position: relative;
   top: 1px;
   left: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
    font-weight: 600;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 190px;
  border-radius: 5px;
  z-index: 1;
  font-size: small;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.naslov{
   margin-left: 7%;
   letter-spacing: 2px;
}
.naslov h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.naslov span{
    color: #f96f59;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header ul li{
    padding-left: 15px;
}

header ul li a{
    text-decoration: none;
    color:#0af1d7;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.nav{
    width: 45vw;
    font-size: large;
    margin-right: 7%;
}

.main{
    width: 100%;
    height: 85vh;
    background: #008474;
}

.child1{
    color: #fff;
    width: 43%;
    position: absolute;
    top: 40%;
    margin-left: 7%;
    float: left;
}

.child1 h1{
    font-size: 48px;
    font-weight: 800;
}

#my-button{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);

    width: 190px;
    height: 55px;
    cursor: pointer;
}

#my-button:hover{
    border: 2px solid #fff;
    transition: 0.5s;
    
}
#ikonica:hover{
    color: #fff;
    transition: 0.8s;
}

#my-button1{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    width: 190px;
    height: 55px;
    cursor: pointer;
}

#ikonica{
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    top: 5px;
    padding:10px;
    font-size: 32px;
}

.child2{
    color: #fff;
    width: 43%;
    position: absolute;
    left: 55%;
    top: 27%;
    margin-right: 7%;
    float: right;
}

.child2 img{
    max-width: 100%;
    height: auto;
}

.main2{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    margin:auto;
    grid-column-gap: 20px;
    position: absolute;
    top: 620px;
}

.box1{
    margin-left: 35%;
    width: 310px;
    height: 250px;
    background: #008d7d;
    border-radius: 10px;
    padding: 45px;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%);
    color: #fff;
}

#box1ikonice{
    position: relative;
    top: 15px;
    left: 80px;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
}

.main2 h1{
    font-weight: 700;
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
}

.about{
    width: 100%;
    height: 35vh;
    margin-top: 250px;
    text-align: center;
}

.about h1:after {
    content: "";
    position: absolute;
    top: 1045px;
    width: 50px;
    height: 3px;
    background:red;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main3{
    width: 100%;
    margin-left: 7%;
    margin-right: 7%;
}

.main3child1{
    float: left;
    width: 40%;
    margin-left: 0%;
    font-size: 15px;
}
.main3child1 img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
}
.main3child1 h1{
    font-size: 30px;
}

.main3child2{
    margin-right: 14%;
    width: 40%;
    float: right;
    color: #008d7d;
}

#italik{
    font-style: italic;
    letter-spacing: -1px;
}
.main3child2 img{
    width: 100%;
    height: 450px;
}

.main3child2 ul{
    list-style-type: none;
    text-align: justify;
}

.main3child2 ul li a{
    text-align: justify;
}

.main3child2 span{
   padding-left: 10px;
   text-align: justify;
}

 #ulikone{
    font-size: 20px;
 }

 .slicice
 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
 }

 .slicice img{
    margin: 150px 0% 0px 7%;
    width: 100px;
    height: 40px;
 }

 .main4{
    margin-top: 15vh;
    width: 100%;
    height: 50vh;
 }

 .main4 img{
    margin-left: 7%;
    width: 85%;
    height: 95%;
 }

.main5{
    margin-top: -65px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
}

.mainchild5 img{
    width: 100%;
    height: 65vh;
    border-radius: 15px;
}

.mainchild5 i{
    color:#008d7d;
    font-size: 70px;
    position: relative;
    top: 300px;
    left: 50%;
}

.mainchild5 i:hover{
    color: #00796b;
}

.mainchild5 h1{
    color: #fff;
    font-weight: 800;
    position: relative;
    top: 350px;
    left: 43%;
}

.mainchild5 p{
    color: #fff;
    font-weight: 800;
    padding-left: 45px;
    position: relative;
    top: 380px;
    left: 0%;
    text-align-last: center;
}

.mainchild5 button{
    color: #fff;
    border-color: #fff;
    background:transparent;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    top: 420px;
    left: 43%;
}

.mainchild5 button:hover{
    background-color: #00796b ;
    transition: 0.5s;
}

.main6{
    width: 100%;
    height: 139vh;
    background-color: #f6f6f6;
    margin-top: 5%;
}

.ourservices{
    width: 100%;
    height: 35vh;
    text-align: center;
}

.ourservices h1{
    position: relative;
    top: 15%;
}

.ourservices p{
    position: relative;
    top: 12%;
}


.main6 .ourservices hr {
    margin-left: 48%;
    width: 50px;
    height: 4px;
    background:red;
    position: relative;
    top: 12%;
}

.ourservices p{
    font-size: 15px;
}

.ourservicesbox{
    margin: auto;
    width: 86%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    align-content: space-around;
}

.ourservicesbox .box11{
    background-color: #fff;
    width: 420px;
    height: 320px;
    padding: 35px;
    border-radius: 10px;
}

.box11 i{
    font-weight: 900;
    font-size: 35px;
}
.box11 h1{
    font-weight: 900;
    font-size: 23px;
}

.box11 p{
    font-size: 14px;
}

.box11 hr{
    background-color: #00796b;
    width: 45%;
    height: 3px;
    opacity: 0.1;
}

.box11:hover hr{
    opacity: 1;
    transition: 0.7s;
}

.box11 a{
   text-decoration: none;
   color: #00796b;
}

#box11icon{
    font-size: 18px;
}

.main7{
    margin: auto;
    width: 86%;
    height: 100vh;
}

.testimonials{
    width: 100%;
    height: 35vh;
    text-align: center;
}

.testimonials h1{
    position: relative;
    top: 15%;
}

.testimonials p{
    position: relative;
    top: 12%;
}


.main7 .testimonials hr {
    margin-left: 48%;
    width: 50px;
    height: 4px;
    background:red;
    position: relative;
    top: 12%;
}

.testimonials p{
    font-size: 15px;
}

.main7 img{
    height: 50%;
    width: 100%;
}

.main8{
    width: 100%;
    height: 320vh;
    background-color: #f6f6f6;

}

.protfolio{
    width: 100%;
    height: 35vh;
    text-align: center;
}

.protfolio h1{
    position: relative;
    top: 15%;
}

.protfolio p{
    position: relative;
    top: 12%;
}


.main8 .protfolio hr {
    margin-left: 48%;
    width: 50px;
    height: 4px;
    background:red;
    position: relative;
    top: 12%;
}

.protfolio p{
    font-size: 15px;
}

.protfoliolinks{
    text-align: center;
    margin-top: -50px;
}

.protfoliolinks a{
    padding-left: 10px;
    font-weight: 900;
    text-decoration: none;
    color:#000000;
}

.protfoliolinks a:hover{
   color: #00796b;
}

.protfoliolinks a:active{
   color: #00796b;
    
}

.protfolioboxes{
    width: 86%;
    height: 100%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

.protfolioboxes .card{
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    width: 400px;
    height: 380px;
}

.card img{
    border-radius: 10px 10px    0px 0px;
    width: 100%;
    height: 75%;
}

.card-body h1{
    padding: 15px;
    font-size: 20px;
}

.card-body p{
    padding-left: 15px;
    font-size: 15px;
}





















