*{
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    float: left;
}

.box1{
    background-color: rgb(0, 0, 0);
  
}

.box2{
    background-color: rgba(187, 143, 228, 0.6);
   
}

.box3{
    background-color: rgb(36, 164, 58);
   
}

.box4{
    background-color: rgb(189, 164, 112);
    clear: both;

}

.box5{
    background-color: rgb(111, 35, 35);
}

.box6{
    background-color: rgb(211, 226, 43);
}

.box7{
    background-color: rgb(226, 92, 43);
}

.box8{
    background-color: rgb(203, 161, 177);
}

